- flash.each do |key, value|
	= content_tag :div, "*"+value, class: "flash_#{key}"
%nav
	= image_tag "logo.png", class: 'logo_button'
	%ul
		
      	
%a{:href => competitions_path}
	= image_tag "home.png", class: 'home_button'
	= image_tag "back_button.png", class: 'back_button'
= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'styled-button-8'

= form_tag competition_round_question_path(@competition, @round.id, @question), :method => :put do
	%div.absolute 
		-@question.errors.each do |attr, msg| 
			%p		
				-if msg != "end"
					%error
						= "*"
						= msg
		%strong *Edit : #{@question.category}
		%p
		%p
		= label :question, :category
		%p
		= text_area :question, :category, class: 'enteries'
		%p
		= label :question, :question_details
		%p
		= text_area :question, :question_details, class: 'enteries' 
		%p
		= label :question, :marks
		%p
		= text_field :question, :marks, class: 'enteries' 
		= submit_tag 'Submit', class: 'register' 
  

  

