%h1 Quesions for #{@round.round_name}
- if session[:user_type] == 'admin'
	%p
	= link_to 'Logout', welcome_destroy_path, :method => :delete, :class => 'topcorner'
	%p
	= link_to 'Go to Interview Home', competition_round_path(@competition,@round)
	%p
	= link_to 'Add Question', new_competition_round_question_path
	%table#questions
		%thead
			%tr
				%th{:width => "100"} Question
				%th{:width => "100"} Score
			
 
		%tbody 
		- @questions.each do |question|
			%tr 
				%td.center{align: "center"}= link_to question.question_details, competition_round_question_path(params[:competition_id], params[:round_id], question)
				%td.center{align: "center"}= question.marks
				

	%p
	=# link_to "Back to #{@round.round_name}", competition_round_path(params[:round_id])
	%p	

- elsif session[:user_type] == 'judge'
	= " Admin only"

