%h1 Questions for #{@round.round_name}
- if session[:user_type] == 'admin'
	%p
	= link_to 'Logout', welcome_destroy_path, :method => :delete, :class => 'topcorner'
	%p
	%div.list
		%table#questions
			%thead
				%tr
					%th{:width => "100"} Question
					%th{:width => "100"} Score
			
 	
			%tbody 
			- @questions.each do |question|
				%tr 
					%td.center{align: "center"}= link_to question.question_details, competition_round_question_path(params[:competition_id], params[:round_id], question)
					%td.center{align: "center"}= question.marks
				

	%div.sidemenu
		%section.sidebar
			.block
				.sidebar-header
					Menu : Admin
				%nav
					%ul.sidebar-nav
						%li
							= link_to 'Home', competitions_path, class: 'menuitem'
						%li	
							= link_to "Go to #{@round.round_name} Home", competition_round_path(@competition,@round), class: 'menuitem'
						%li
							= link_to 'Add Question', new_competition_round_question_path, class: 'menuitem'
  


- elsif session[:user_type] == 'judge'
	= " Admin only"

