%h1 Fill out the Question Details for #{@round.round_name}
%p
= link_to 'Logout', welcome_destroy_path, :method => :delete, :class => 'topcorner'

= form_tag competition_round_questions_path do
	%div.absolute  
		%p
			= label :question, :question_details
			%p
			= text_area :question, :question_details, class: 'enteries'
		%p	
			= label :question, :marks
			%p
			= text_field :question, :marks, class: 'enteries'
		%p
			= submit_tag 'Submit', class: 'register'
  
%div.sidemenu
	%section.sidebar
		.block
			.sidebar-header
				Menu : Admin
			.sidebar-header
				Rounds : #{@round.round_name}
			%nav
				%ul.sidebar-nav
					%li
						= link_to 'Home', competitions_path, class: 'menuitem'
					%li
						= link_to 'Back', competitions_path, class: 'menuitem'
					%li
						= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'menuitem'
					%li
						= link_to 'Back', competition_round_path(params[:competition_id], @round), class: 'menuitem'
  

