- flash.each do |key, value|
	= content_tag :div, "*"+value, class: "flash_#{key}"
%nav
	= image_tag "logo.png", class: 'logo_button'
	%ul
		
      	
%a{:href => competitions_path}
	= image_tag "home.png", class: 'home_button'
= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'styled-button-8'

- if session[:user_type] == 'admin'
	%ul.judge_bar
		%strong.til Question Details :
		%p
			%strong= label :question, :category, 'Category : '
			.name_class
				= @question.category
		%p
			%strong= label :question, :question_details, 'Description : '
			.name_class
				= @question.question_details

		%p
	
			%strong= label :question, :marks, 'Marks: '
			.name_class
				= @question.marks

- elsif session[:user_type] == 'judge'
	= "Get out! You are not authorized"
