- flash.each do |key, value|
	= content_tag :div, "*"+value, class: "flash_#{key}"
%h2.second Add Comments
= form_tag competition_round_qualification_comments_path do
	%div.absolute 
		%p
			= label :comment, :comment_Description
			%p
			= text_area :comment, :comment_des, class: 'enteries'
		%p  
			= submit_tag 'Comment', class: 'register'
			


  

