%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", :rel => "stylesheet", :type => "text/css"}/
= flash[:notice]
%div.heading
	%h1 Judges
= image_tag "logo.png", class: 'logo_button'
%a{:href => competitions_path}
	= image_tag "home.png", class: 'home_button'
%a{:href => competitions_path}
	= image_tag "back.png", class: 'back_button'
%div.list
	%select{:onchange => "window.location.href=this.value"}
		%option Filter by location
		- @location_names.each do |loc|
			%option{:value => judges_path(:filter_by_location => loc)} #{loc}
	%select{:onchange => "window.location.href=this.value"}
		%option No of Judges to display
		- (1..@judge_count).step(2) do |i|
			%option{:value => judges_path(:display_items => i)} #{i}
		%option{:value => judges_path(:display_items => @judge_count)} All
	%table#judges
		%thead
			%tr
				%th=link_to 'Name', judges_path(:sort => 'j_name')
				%th=link_to 'Location', judges_path(:sort=> 'j_loc')
				%th Phone No
				%th Email
				%th Description
				%th Action
				%th Action
				%th Action
		%tbody
		- @judges.each do |judge| 
			%tr
				%td= judge.j_name
				%td= judge.j_loc 
				%td= judge.j_phone
				%td= judge.j_email
				%td= judge.j_des 
				%td= link_to 'Details', judge_path(judge)
				%td= link_to 'Edit', edit_judge_path(judge)
  
%div.sidemenu
	%section.sudebar
		.block
			.sidebar-header
				Menu : Admin
			%nav
				%ul.sidebar-nav
					%li
						= link_to 'Home', competitions_path, class: 'menuitem'
					%li
						= link_to 'Add Judge', new_judge_path, class: 'menuitem'
					%li
						= link_to 'Back', competitions_path, class: 'menuitem'
					%li
						= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'menuitem'
  

  
