- flash.each do |key, value|
	= content_tag :div, "*"+value, class: "flash_#{key}"
%nav
	= image_tag "logo.png", class: 'logo_button'
	%ul
		
      	
%a{:href => competitions_path}
	= image_tag "home.png", class: 'home_button'
= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'styled-button-8'
= form_tag judges_path do
	%div.absolute 
		-@judge.errors.each do |attr, msg| 
			%p		
				-if msg != "end"
					%error
						= "*"
						= msg
					
		%strong *Register New Judge :
		%p
			= label :judge, :j_name, 'Name:'
			%p
			= text_field :judge, :j_name, class: 'enteries' 
		%p
			= label  :judge, :j_loc, 'Location'
			%p
			= text_area :judge, :j_loc, class: 'enteries' 
		%p
			= label :judge, :j_phone, 'Phone (10 digits)'
			%p
			= text_field :judge, :j_phone, class: 'enteries' 
		%p
			= label :judge, :j_email, 'Email'
			%p
			= text_field :judge, :j_email, class: 'enteries' 
		%p
			= label :judge, :j_des, 'Description'
			%p
			= text_area :judge, :j_des, class: 'enteries' 
		%p
			= label :judge, :password, 'Password (minimum 6)'
			%p
			= password_field :judge, :password, class: 'enteries' 
			
		%p
			= submit_tag 'Save Changes', class: 'register'

