%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", :rel => "stylesheet", :type => "text/css"}/

%div.heading
	%h1 New Judge
= image_tag "logo.png", class: 'logo_button'

= form_tag judges_path do
	%div.absolute 
		%p
			= label :judge, :j_name, 'Name:'
			%p
			= text_field :judge, :j_name, class: 'enteries' 
		%p
			= label  :judge, :j_loc, 'Location'
			%p
			= text_area :judge, :j_loc, class: 'enteries' 
		%p
			= label :judge, :j_phone, 'Phone'
			%p
			= text_field :judge, :j_phone, class: 'enteries' 
		%p
			= label :judge, :j_email, 'Email'
			%p
			= text_field :judge, :j_email, class: 'enteries' 
		%p
			= label :judge, :j_des, 'Description'
			%p
			= text_area :judge, :j_des, class: 'enteries' 
		%p
			= label :judge, :password, 'Password'
			%p
			= password_field :judge, :password, class: 'enteries' 
			
		%p
			= submit_tag 'Save Changes', class: 'register'
			
%div.sidemenu
	%section.sidebar
		.block
			.sidebar-header
				Menu : Admin
			%nav
				%ul.sidebar-nav
					%li
						= link_to 'Home', competitions_path, class: 'menuitem'
					%li
						= link_to 'Back', judges_path, class: 'menuitem'
					%li
						= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'menuitem'


