%h2 Details about #{@judge.j_name}

<<<<<<< Updated upstream
=link_to 'Home', competitions_path
=======
= link_to 'Home', competitions_path
>>>>>>> Stashed changes

%ul#details
	%p
		= label :judge, :j_name, 'Judge Name:'
		= @judge.j_name

	%p
		= label :judge, :j_loc, 'Location: '
		= @judge.j_loc

	%p
		= label :judge, :j_phone, 'Phone: '
		= @judge.j_phone

	%p
		= label :judge, :j_email, 'Email: '
		= @judge.j_email


	%p
		= label :judge, :j_des, 'Description: '
		= @judge.j_des


= "Add relevant competitions"

= form_tag judge_competitions_judges_path(params[:id]), :method => :post do
	- Competition.all.each do |competition|
		= check_box_tag 'arr_comp[]', competition.id , @selected_competition_ids[competition.id]
		= competition.competition_name
	= submit_tag 'Submit'

= link_to 'Back', judges_path 
