%h1 Add Participants to First Round
%p
%table#participants
  %tr
    %th Name
    %th Select
    %th Part Number
  
  = form_tag qualifications_path(params[:arr_part],params[:first_round],params[:participant_number],:competition_id => params[:competition_id]), :method => :post do |f|
    - @participants.each do |participant| 
      %tr
        %td= participant.p_name
        %td= check_box_tag 'arr_part[]', participant.id
        %td= text_field_tag "participant_number[#{participant.id}]"

    - @rounds.each do |round|
      = radio_button_tag 'first_round', round.id, id: 'round_name'
      = round.round_name
    = submit_tag 'Add Participants To Round'


%p
= link_to 'Home', competitions_path  
