%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", :rel => "stylesheet", :type => "text/css"}/
- if session[:user_type] == 'admin'
	%div.heading
		%h1 Texas Auctioneers Association
	%div.list
		%table#competitions
			%thead
				%tr
					%th{:width => "100"} Competition Name
					%th{:width => "100"} Competition Description
					%th{:width => "100"} No Of Rounds
			
 
			%tbody 
			- @competitions.each do |competition|
				%tr 
					%td.center{align: "center"}= link_to competition.competition_name, competition_path(competition), class: 'h1table'

					%td.center{align: "center"}= competition.competition_des
					%td.center{align: "center"}= competition.no_of_rounds
	%div.sidemenu
		%section.sidebar
			.block
				.sidebar-header
					Menu : Admin
				%nav
					%ul.sidebar-nav
						
						%li
							= link_to 'Add Competition', new_competition_path, class: 'menuitem'
						%li
							= link_to 'See All Participants', participants_path, class: 'menuitem' 
						%li	
							= link_to 'Judges', judges_path, class: 'menuitem'
						%li
							= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'menuitem'
	
		

- elsif session[:user_type] == 'judge'
	= link_to 'Logout', welcome_destroy_path, :method => :delete, :class => 'topcorner'
	%div.heading
		%h1 Texas Auctioneers Association
	
	%table#competitions
		%thead
			%tr
				= "Welcome Mr. #{@judge_name}"

		%tbody 
		- @competitions.each do |competition|
			%tr 
				%td.center{align: "center"}= link_to competition.competition_name, competition_rounds_path(competition), class: 'button'
	
