%h1 Current Rounds

%table#competitions
	%thead
		%tr
			%th Competition Name
			%th Competition Desc
			%th No Of Rounds
			
 
	%tbody 
	- @competitions.each do |competition|
		%tr 
			%td= link_to competition.competition_name, competition_path(competition)
			%td= competition.competition_des
			%td= competition.no_of_rounds

= link_to 'Add Competition', new_competition_path

= link_to 'Participants', participants_path
	
= link_to 'Back to Index Page'
			
