%h2 Details about #{@competition.competition_name}
- if session[:user_type] == 'admin'
	%p
	= link_to 'Logout', root_path, :class => 'topcorner'
	%ul#details
	%p
	
	%strong= label :competition, :competition_name, 'Competition Name: '
	= @competition.competition_name
	%p
	
	%strong= label :competition, :competition_des, 'Competition Description: '
	= @competition.competition_des
	%p
		
	%strong= label :competition, :no_of_rounds, 'No Of Rounds: '
	= @competition.no_of_rounds	
	%p
	= link_to "Go to #{@competition.competition_name}'s Rounds", competition_rounds_path(@competition)
	%p
	= link_to 'Edit', edit_competition_path(@competition)
	%p
	= button_to 'Delete', competition_path(@competition), method: :delete
	%p
	= link_to 'Show Judges', competition_competitions_judges_path(@competition)
	%p
	= link_to 'See enrolled participants', competition_enrollments_path(@competition)

	%p
	= link_to 'Back to all Competitions', competitions_path
- else session[:user_type] == 'judge'
	= "Get out! You are not authorized"
