%h1 Score Participant 
= form_tag competition_round_qualification_scores_path do
	%div.absolute 
		%table#questions
			%thead
				%tr
					%th Question
					%th Score
					%th Comment
			%tbody
			- @questions.each do |q|
				%tr
				
					%td.center{align: "center"}= q.question_details
				
					%td.center{align: "center"}= number_field_tag "scores[]", nil, in: 0...q.marks+1, class: 'numberentries`'
					
					%td.center{align: "center"}= text_area_tag "question_comments[#{q.id}]"
		%p
		= submit_tag "Submit Scores", class: 'register'
