%h2.second Score Participant 
= form_tag competition_round_qualification_scores_path do
	- flash.each do |key, value|
		= content_tag :div, "*"+value, class: "flash_#{key}"
	%table
		%thead
			%tr
				%th Category
				%th Description
				%th Score
				%th Comment
		%tbody
		- @questions.each do |q|
			%tr
				%td.center{align: "center"}= q.category
			
				%td.center{align: "center"}= q.question_details
			
				%td.center{align: "center"}= number_field_tag "scores[]", nil, in: 0...q.marks+1, class: 'numberentries`'
				
				%td.center{align: "center"}= text_area_tag "question_comments[#{q.id}]"
	%p
	= submit_tag "Submit Scores", class: 'register'
