%h1 Participants for Round #{@roundRecord.round_name}

- if session[:user_type] == 'admin'
	%div.list
		%table
			%thead
				%tr
					%th Name
					%th Phone No
					%th Email
					%th Score

	
			%tbody
			- @participants.each do |participant| 
				%tr
					%td= participant.p_name
					%td= participant.p_phone
					%td= participant.p_email
					%td= calc_score(participant, @round) 
	%div.sidemenu
		%section.sidebar
			.block
				.sidebar-header
					Menu : Admin
				.sidebar-header
					Rounds : #{@roundRecord.round_name}
				%nav
					%ul.sidebar-nav
						%li
							= link_to "Select Participant for next round", new_competition_round_qualification_path(@competition, @round)
						%li
							= link_to 'Home', competitions_path
						%li
							= link_to 'Back', competition_round_path(@competition,@round)
	

- if session[:user_type] == 'judge'
	%table
		%thead
			%tr
				%th Select Contestant
		%tbody
		- @qualifications.each do |qualification| 
			%tr
				%td= link_to qualification.participant_number, new_competition_round_qualification_score_path(params[:competition_id],params[:round_id], qualification)
	%p
	= link_to 'Back', competition_rounds_path(@competition)
