%h1 Participants of #{@roundRecord.round_name}


- if session[:user_type] == 'admin'
	%table
		%thead
			%tr
				%th Name
				%th Phone No
				%th Email

	
		%tbody
		- @participants.each do |participant| 
			%tr
				%td= participant.p_name
				%td= participant.p_phone
				%td= participant.p_email			

	%p
	= link_to "Select Participant for next round", new_competition_round_qualification_path(@competition, @round)
	%p
	= link_to 'Home', competitions_path    
	%p
	= link_to 'Back', competition_round_path(@competition,@round)

- if session[:user_type] == 'judge'
	%table
		%thead
			%tr
				%th Select Contestant
		%tbody
		- @participants.each do |participant| 
			%tr
				%td= link_to participant.p_name, new_competition_round_qualification_score_path(params[:competition_id],params[:round_id],:qualification_id => Qualification.where("participant_id"=> participant.id,"round_id"=>params[:round_id])[0].id)
