%h2 Select from #{@round.round_name}

= form_tag competition_round_qualifications_path, :method => :post do
	%table
		%tr
			%th Name
			%th Contestant Number
			%th Select
		- @participants.each do |participant| 
			%tr
				%td= participant.p_name
				%td= "To be given"
				%td= check_box_tag 'arr_part[]'
	- Round.all.each do | round_info|
		- if round_info.id != params[:round_id]
			= check_box_tag 'arr_round[]', round_info.id
			= round_info.round_name
	= submit_tag 'Submit'



