%h1 Edit Round
- flash.each do |key, value|
	= content_tag :div, "*"+value, class: "flash_#{key}"

= form_tag competition_round_path, :method => :put do
	%div.absolute 
		%p
			= label :round, :round_name 
			%p
			= text_field :round, :round_name, class: 'enteries'
		%p
			= label :round, :round_des 
			%p
			= text_area :round, :round_des, class: 'enteries'
		%p
			= label :round, :no_of_participants
			%p
			= text_field :round, :no_of_participants, class: 'enteries'
		%p  
			= submit_tag 'Update Round Info', class: 'register'
			
%div.sidemenu
	%section.sidebar
		.block
			.sidebar-header
				Menu : Admin
			%nav
				%ul.sidebar-nav
					%li
						= link_to 'Home', competitions_path, class: 'menuitem'
					%li
						= link_to 'Back', competition_rounds_path, class: 'menuitem'



  


