%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", :rel => "stylesheet", :type => "text/css"}/
%div.heading
	%h1 #{@competition.competition_name}'s Rounds
- if session[:user_type] == 'admin'
	%div.list
		%table#rounds
			%thead
				%tr
					%th{:width => "100"} Round Name
					%th{:width => "100"} Round Description
					%th{:width => "100"} No of Participants
					%th{:width => "100"} 
		
			%tbody
			- @rounds.each do |round|
				%tr 
					%td.center{align: "center"}= link_to round.round_name, competition_round_path(@competition, round), class: 'h1table'
					%td.center{align: "center"}= round.round_des
					%td.center{align: "center"}= round.no_of_participants
					%td.center{align: "center"}= button_to 'Delete', competition_round_path(@competition,round.id), method: :delete
 
	
	%div.sidemenu
		%section.sidebar
			.block
				.sidebar-header
					Menu : Admin
				%nav
					%ul.sidebar-nav	
						%li
							= link_to 'Home', competitions_path, class: 'menuitem'
						%li			
							= link_to 'Add Round', new_competition_round_path, class: 'menuitem'
						%li
							= link_to "Back to #{@competition.competition_name}'s Competition Page",competition_path(@competition), class: 'menuitem'

- elsif session[:user_type] == 'judge'
	%div.list
		%table#rounds
			%thead
				%tr
					%th{:width => "100"} Round Name
			
	
 
			%tbody 
			- @rounds.each do |round|
				%tr 
					%td.center{align: "center"}= link_to round.round_name, competition_round_qualifications_path(@competition, round)
	%p
	= link_to "Back to Competition Page",competitions_path, class: 'menuitem'
	
