- if session[:user_type] == 'admin'
	%nav
		= image_tag "logo.png", class: 'logo_button'
		%ul
			%li.current
				= link_to 'Add Round', new_competition_round_path, class: 'menuitem'
      	
	%a{:href => competitions_path}
		= image_tag "home.png", class: 'home_button'
	.dropdown
		%input.dropdown-toggle{:type => "text"}
		.dropdown-text Account
		%ul.dropdown-content
			%li
				= link_to 'Settings', class: 'setting_dropdown'
			%li
				Value
			%li
				= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'setting_dropdown'
	%div.list
		- val = Competition.where("id"=>params[:competition_id])
		%strong.til List of rounds for : #{val[0].competition_name}
		%p
		%p
		%table
			%thead
				%tr
					%th{:width => "20"} Type
					%th{:width => "100"} Name
					%th{:width => "100"} Description
					%th{:width => "100"} Participants
					%th{:width => "100"} Edit
					%th{:width => "100"} Delete
		
			%tbody
			- @rounds.each do |round|
				%tr 
					%td.center{align: "center"}
						= image_tag "round.jpg", class: 'round_button'  
					%td.center{align: "center"}= link_to round.round_name, competition_round_path(@competition, round), class: 'custome_menu'
					%td.center{align: "center"}= round.round_des
					- np = Qualification.where("round_id"=> round.id)
					%td.center{align: "center"}= np.count
					%td
						%a{:href => edit_competition_round_path(params[:competition_id],round.id)}
							= image_tag "edit.png", class: 'round_edit' 
					%td
						%a{:href => competition_round_path(@competition,round.id),  method: :delete }
							= image_tag "delete.png", class: 'round_delete1' 						

- elsif session[:user_type] == 'judge'
	%div.list
		%table#rounds
			%thead
				%tr
					%th{:width => "100"} Round Name
			
	
 
			%tbody 
			- @rounds.each do |round|
				%tr 
					%td.center{align: "center"}= link_to round.round_name, competition_round_qualifications_path(@competition, round)
	%p
	= link_to "Back to Competition Page",competitions_path, class: 'menuitem'
	
