%h1 Current Rounds
 
%table#rounds
	%thead
		%tr
			%th Round Name
			%th Round Desc
			%th No of Participants
			%th Action
			%th Action
			%th Action
			
	
 
	%tbody 
	- @rounds.each do |round|
		%tr 
			%td= link_to round.round_name, competition_round_path(@competition, round)
			%td= round.round_des
			%td= round.no_of_participants
			%td= button_to 'Delete', competition_round_path(@competition,round), method: :delete 

%p	
= link_to 'Back to Competition Page', competition_path(@competition)
%p			
= link_to 'Add Round', new_competition_round_path
