<h1>Current Rounds</h1>
 
<%= link_to 'Add Round', new_round_path %>

<table>
  <tr>
    <th>Round Name</th>
    <th>Round Desc</th>
    <th>No of Participants</th>
    <th>Action</th>
    <th>Action</th>
    <th>Action</th>
	
  </tr>
 
  <% @rounds.each do |round| %>
    <tr>
      <td><%= round.round_name %></td>
      <td><%= round.round_des %></td>
      <td><%= round.no_of_participants %></td>
      <td><%= link_to 'Details', round %></td>
      <td><%= link_to 'Edit'%></td>
      <td><%= link_to 'Delete'%></td>
    </tr>
  <% end %>
</table>
