%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", :rel => "stylesheet", :type => "text/css"}/
%h1 #{@competition.competition_name}'s Rounds
- if session[:user_type] == 'admin'
	= form_tag competition_path(params[:competition_id]), :method => :patch do
		%table#rounds
			%thead
				%tr
					%th{:width => "100"} Round Name
					%th{:width => "100"} Round Description
					%th{:width => "100"} No of Participants
					%th{:width => "100"} Set as First
					%th{:width => "100"} 
			
	
			%tbody
			- @rounds.each do |round|
				%tr 
					%td.center{align: "center"}= link_to round.round_name, competition_round_path(@competition, round)
					%td.center{align: "center"}= round.round_des
					%td.center{align: "center"}= round.no_of_participants
					%td.center{align: "center"}= radio_button_tag(:first_round , round)
					%td.center{align: "center"}= button_to 'Delete', competition_round_path(@competition,round), method: :delete
 
	= submit_tag "Submit"
				
	%p			
	= link_to 'Add Round', new_competition_round_path
	%p
	= link_to "Back to #{@competition.competition_name}'s Competition Page", competition_path(@competition)
- elsif session[:user_type] == 'judge'
	%table#rounds
		%thead
			%tr
				%th{:width => "100"} Round Name
			
	
 
		%tbody 
		- @rounds.each do |round|
			%tr 
				%td.center{align: "center"}= link_to round.round_name, competition_round_qualifications_path(@competition, round)
	
