%h1 Admin View - Add rounds and round data
= form_tag competition_rounds_path do
  %p
    = label :round, :round_name 
    = text_field :round, :round_name 
  %p
    = label :round, :round_des 
    = text_area :round, :round_des   
  %p
    = label :round, :no_of_participants
    = text_field :round, :no_of_participants    
  %p  
    = submit_tag 'Submit'
  
= link_to 'Back', competition_rounds_path
  

