%h2 Details about #{@round.round_name}

%ul#details
	%p
		= label :round, :round_name, 'Round_Name: '
		= @round.round_name

	%p
	
		= label :round, :round_des, 'Round_Desc: '
		= @round.round_des
	
	%p
		=label :round, :no_of_participants, 'No of Participants: '
		= @round.no_of_participants


= link_to 'Back', competition_rounds_path
<!-- = link_to 'Participants', round_participants_path(@round) -->
%p
= link_to 'Edit', edit_competition_round_path
%p
= link_to 'Select Participants', competition_round_select_path(@competition, @round, @participants)
