%div.heading
	%h1 Details about #{@round.round_name}

- if session[:user_type] == 'admin'
	%p
	= link_to 'Logout', root_path, :class => 'topcorner'
	%div.list
	
		%h2 Leaderboard	
		%table
			%thead
				%tr
					%th Name
					%th Score

	
			%tbody
			- @participants.each do |participant| 
				%tr
					%td= participant.p_name
					%td= calc_score(participant, @round) 
		%ul#details
		%p
		%strong= label :round, :round_name, 'Round Name: '
		= @round.round_name

		%p
	
		%strong= label :round, :round_des, 'Round Description: '
		= @round.round_des
	
		%p
		%strong= label :round, :no_of_participants, 'No of Participants: '
		= @round.no_of_participants
	%div.sidemenu
		%section.sidebar
			.block
				.sidebar-header
					Competition : #{@competition.competition_name}
				.sidebar-header
					Rounds : #{@round.round_name}
				%nav
					%ul.sidebar-nav
						%li
							= link_to "See Questions for #{@round.round_name}", competition_round_questions_path(@competition,:round_id => params[:id]), class: 'menuitem'
						%li
							= link_to 'Edit', edit_competition_round_path(@competition, @round), class: 'menuitem'
						%li
							= link_to 'Select Participants for the next round', new_competition_round_qualification_path(@competition, @round), class: 'menuitem'
						%li
							= link_to "See all qualified participants for #{@round.round_name}", competition_round_qualifications_path(@competition, @round), class: 'menuitem'
						%li
							= link_to "Delete #{@round.round_name}", competition_round_path(@competition, @round) , method: :delete, class: 'menuitem'
						%li
							= link_to 'Back', competition_rounds_path, class: 'menuitem'

- elsif session[:user_type] == 'judge'
	= "Get out! Are you kidding me?? Go do your work and don't mess around"

