<%= form_for([@round, @participant]) do |f| %>
  <p>
    <%= f.label :p_name %><br>
    <%= f.text_field :p_name %>
  </p>

  <p>
    <%= f.label :p_loc %><br>
    <%= f.text_area :p_loc %>
  </p>

<p>
    <%= f.label :p_phone %><br>
    <%= f.text_area :p_phone %>
  </p>
<p>
    <%= f.label :p_email %><br>
    <%= f.text_area :p_email %>
  </p>

<p>
    <%= f.label :p_des %><br>
    <%= f.text_area :p_des %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>


