#{flash[:notice]}
%nav
	= image_tag "logo.png", class: 'logo_button'
	%ul
		%li.current
			= link_to 'Add Participant', new_participant_path, class: 'menuitem'
      	
%a{:href => competitions_path}
	= image_tag "home.png", class: 'home_button'
.dropdown
	%input.dropdown-toggle{:type => "text"}
	.dropdown-text Account
	%ul.dropdown-content
		%li
			= link_to 'Settings', class: 'setting_dropdown'
		%li
			Value
		%li
			= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'setting_dropdown'
%div.list
	%select{:onchange => "window.location.href=this.value"}
		%option Filter by location
		- @location_names.each do |loc|
			%option{:value => participants_path(:filter_by_location => loc)} #{loc}
	%select{:onchange => "window.location.href=this.value"}
		%option No of Participants to display
		- (1..@participant_count).step(2) do |i|
			%option{:value => participants_path(:display_items => i)} #{i}
		%option{:value => participants_path(:display_items => @participant_count)} All
	%table#participants
		%thead
			%tr
				%th Type
				%th=link_to 'Name', participants_path(:sort=> 'P_Name'), class: 'custome_menu'
				%th=link_to 'Location', participants_path(:sort=> 'p_loc'), class: 'custome_menu'
				%th Phone No
				%th Email
				%th Description
				%th Edit
				%th Delete
   
  
		%tbody
		- @participants.each do |participant| 
			%tr
				%td
					= image_tag "participant.jpg", class: 'part_button'  
				%td= link_to participant.p_name, new_participant_enrollment_path(participant), class: 'custome_menu'
				%td= participant.p_loc 
				%td= participant.p_phone
				%td= participant.p_email
				%td= participant.p_des
				%td
					%a{:href => edit_participant_path(:id => participant.id)}
						= image_tag "edit.png", class: 'part_edit'  
				%td
					%a{:href => participant_path(:id => participant.id),  method: :delete }
						= image_tag "delete.png", class: 'part_delete'  
    



  
