%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", :rel => "stylesheet", :type => "text/css"}/
#{flash[:notice]}
%div.heading
	%h1 Participants
%div.list
	%table#participants
		%thead
			%tr
				%th	h Name
				%th Location
				%th Phone No
				%th Email
				%th Description
				%th Action
				%th Action
   
  
		%tbody
		- @participants.each do |participant| 
			%tr
				%td= participant.p_name
				%td= participant.p_loc 
				%td= participant.p_phone
				%td= participant.p_email
				%td= participant.p_des 
				%td= link_to 'Details', new_participant_enrollment_path(participant)
				%td= link_to 'Edit' , edit_participant_path(participant)  
%div.sidemenu
	%section.sudebar
		.block
			.sidebar-header
				Menu : Admin
			%nav
				%ul.sidebar-nav
					%li
						= link_to 'Home', competitions_path, class: 'menuitem'
					%li
						= link_to 'Add Participants', new_participant_path, class: 'menuitem'
					%li
						= link_to 'Back', competitions_path, class: 'menuitem'
    



  
