%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700", :rel => "stylesheet", :type => "text/css"}/
#{flash[:notice]}
%div.heading
	%h1 All Participants
%div.list
	%select{:onchange => "window.location.href=this.value"}
		%option Filter by location
		- @location_names.each do |loc|
			%option{:value => participants_path(:filter_by_location => loc)} #{loc}
	%select{:onchange => "window.location.href=this.value"}
		%option No of Participants to display
		- (1..@participant_count).step(2) do |i|
			%option{:value => participants_path(:display_items => i)} #{i}
		%option{:value => participants_path(:display_items => @participant_count)} All
	%table#participants
		%thead
			%tr
				%th=link_to 'Name', participants_path(:sort=> 'P_Name')
				%th=link_to 'Location', participants_path(:sort=> 'p_loc')
				%th Phone No
				%th Email
				%th Description
				%th Action
				%th Action
   
  
		%tbody
		- @participants.each do |participant| 
			%tr
				%td= participant.p_name
				%td= participant.p_loc 
				%td= participant.p_phone
				%td= participant.p_email
				%td= participant.p_des 
				%td= link_to 'Details', new_participant_enrollment_path(participant)
				%td= link_to 'Edit' , edit_participant_path(participant)  
%div.sidemenu
	%section.sudebar
		.block
			.sidebar-header
				Menu : Admin
			%nav
				%ul.sidebar-nav
					%li
						= link_to 'Home', competitions_path, class: 'menuitem'
					%li
						= link_to 'Add Participants', new_participant_path, class: 'menuitem'
					%li
						= link_to 'Back', competitions_path, class: 'menuitem'
					%li
						= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'menuitem'
    



  
