%h1 New Participant

= form_tag participants_path do
	%div.absolute 
		%p
			= label :participant, :p_name, 'Name:'
			%p
			= text_field :participant, :p_name, class: 'enteries' 

		%p	
			= label  :participant, :p_loc, 'Location'
			%p
			= text_area :participant, :p_loc, class: 'enteries' 
		%p
	
			= label :participant, :p_phone, 'Phone'
			%p
			= text_field :participant, :p_phone, class: 'enteries' 
		%p
	
			= label :participant, :p_email, 'Email'
			%p
			= text_field :participant, :p_email, class: 'enteries' 
		%p
	
			= label :participant, :p_des, 'Description'
			%p
			= text_area :participant, :p_des, class: 'enteries' 
		%p
			= submit_tag 'Save Changes', class: 'register' 

%div.sidemenu
	%section.sidebar
		.block
			.sidebar-header
				Menu : Admin
			%nav
				%ul.sidebar-nav
					%li
						= link_to 'Home', competitions_path, class: 'menuitem'
					%li
						= link_to 'Back', participants_path, class: 'menuitem'
					%li
						= link_to 'Logout', welcome_destroy_path, :method => :delete, class: 'menuitem'


