%h1 Select Participants


%table
  %tr
    %th Name
    %th Location
    %th Phone No
    %th Email
    %th Description
    %th Action
    %th Action
    %th Action
 
= form_tag competition_round_participants_path, :method => :get do

  - @participants.each do |participant| 
    %tr
      %td= participant.p_name
      %td= participant.p_loc 
      %td= participant.p_phone
      %td= participant.p_email
      %td= participant.p_des 
      %td= link_to 'Details', participant_path(participant)
      %td= link_to 'Edit' , edit_participant_path(participant)
      %td= check_box_tag 1, @selected_participants.include?(participant)

  = submit_tag 'Submit'
= link_to 'Home', competitions_path      
