%h2 Details about #{@participant.p_name}
- flash.each do |key, value|
	= content_tag :div, "*"+value, class: "flash_#{key}"

%ul#details
	%p
		= label :participant, :p_name, 'Participant Name:'
		= @participant.p_name

	%p
		= label :participant, :p_loc, 'Location: '
		= @participant.p_loc

	%p
		= label :participant, :p_phone, 'Phone: '
		= @participant.p_phone

	%p
		= label :participant, :p_email, 'Email: '
		= @participant.p_email


	%p
		= label :participant, :p_des, 'Description: '
		= @participant.p_des

- if session[:user_type] == 'user'
	%p
		= 'Competitions Enrolled : '
		= if @competition_enrolled != nil
			= @competition_enrolled.each do |ce|
				=	show_enrolled = Competition.where("id" => ce.competition_id)

				= show_enrolled.each do |s|
					s.competition_name
	%p
		= link_to "Modify Competition", new_participant_enrollment_path(@participant)
		
- else
	= link_to "Add relevant competitions", new_participant_enrollment_path(@participant)


= #collection_check_boxes(@participant, :competition_ids, Competition.all, :id)
- if session[:user_type] == 'admin'
	%p
		= link_to 'Back', participants_path
	%p 
		= link_to 'Generate Report' , participant_report_path(@participant)
	%p
		= button_to 'Delete', participant_path(@participant),  method: :delete 
- elsif session[:user_type] == 'user'
	%p
		= link_to 'Scores'
	%p
		= link_to 'Logout', root_path
