<p>
  <strong>Participant Name:</strong>
  <%= @participant.p_name %>
</p>

<p>
  <strong>Participant Loc:</strong>
  <%= @participant.p_loc %>
</p>

<p>
  <strong>Phone</strong>
  <%= @participant.p_phone %>
</p>

<p>
  <strong>Email</strong>
  <%= @participant.p_email %>
</p>

<p>
  <strong>Description</strong>
  <%= @participant.p_des %>
</p>


<%= link_to 'Back', round_participants_path %>
<%= link_to 'Generate Report' %>
