%link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}
%link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
#{flash[:notice]}
%h1 Welcome To Texas Auctioneers Association
= form_tag welcome_create_path :method => :post do 	
	%div.absolute 
		%p Email 
		= text_field :cred, :email_id, class: 'email'
		%p Password 
		= text_field :cred, :password, class: 'password', :type=> 'PASSWORD'
		%p
		= submit_tag 'Login', class: 'loginbutton', :id => 'submit'