%h1 Welcome To Texas Auctioneers Association


= image_tag ('logo.jpg')
= form_tag welcome_create_path :method => :post do 
	
	= label :cred, :email_id
	= text_field :cred, :email_id
	= label :cred, :password
	= text_field :cred, :password
	
	= label :user, :admin
	= check_box_tag "user[admin]", 'admin' , checked = false
	
	= label :user, :judge
	= check_box_tag "user[judge]", 'judge' , checked = false
	

	= #check_box_tag 'user', 'user'
	= #'User'
	= submit_tag 'Submit'
%p
= #link_to 'New User', new_participant_path

	
