%div.heading
	%h1 Details about #{@participant.p_name}

%div.list
	%ul#details
	%p
	%strong= label :participant, :p_name, 'Participant Name:'
	= @participant.p_name

	%p
	%strong= label :participant, :p_loc, 'Location: '
	= @participant.p_loc

	%p
	%strong= label :participant, :p_phone, 'Phone: '
	= @participant.p_phone

	%p
	%strong= label :participant, :p_email, 'Email: '
	= @participant.p_email


	%p
	%strong= label :participant, :p_des, 'Description: '
	= @participant.p_des
	
	- 2.times do
		%br
	%p
	%strong= "Add to relevant competitions"
	- 2.times do
		%br
	%p
	= form_tag participant_enrollments_path, :method => :post do
		- Competition.all.each do |competition|
			= check_box_tag 'competition_id[]', competition.id, @selected_competition_ids[competition.id]
			= competition.competition_name
		= submit_tag 'Submit'
	%p
	- 1.times do
		%br
	- @competitions.each do |comp|
		%strong= "Competition: "+comp.competition_name
		- 2.times do
			%br
		- @rounds[comp.id].each do |round|
			= "&nbsp;&nbsp; Round: #{round.round_name} &nbsp;&nbsp; &nbsp;&nbsp; Total Round Score: #{@roundScore[round.id]} / #{@roundTotalScore[round.id]}".html_safe
			- 2.times do
				%br
			- @questions[round.id].each do |question|
				="&nbsp; &nbsp; &nbsp; &nbsp; Question: ".html_safe+question.question_details
				-20.times do
					="&nbsp;".html_safe
				="&nbsp; &nbsp; &nbsp; &nbsp; Score: #{@scores[question.id]} / #{@totalScores[question.id]}".html_safe
				- 2.times do
					%br
			
	


%div.sidemenu
	%section.sidebar
		.block
			.sidebar-header
				Participant: #{@participant.p_name}
			%nav
				%ul.sidebar-nav
					%li
						= button_to 'Delete Participant', participant_path(@participant),  method: :delete , class: 'menuitem'
					%li
						= link_to 'Back', participants_path , class: 'menuitem'
					%li
						= link_to 'Generate Report',participants_path, class: 'menuitem'
