%h1 Judges


%table
  %tr
    %th Name
    %th Location
    %th Phone No
    %th Email
    %th Description

  
  - @judges.each do |judge| 
    %tr
      %td= judge.j_name
      %td= judge.j_loc 
      %td= judge.j_phone
      %td= judge.j_email
      %td= judge.j_des 

%p
= link_to "Back to #{@competition.competition_name}'s Competition Page", competition_path(@competition) 

  
